
@media screen and (min-width: 700px) {
    .theme-default-content:not(.custom) > h2 {
        display: -webkit-inline-box;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        font-weight: 700;
        background: #ef7060;
        color: #fff;
        padding: 3px 10px 4px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        margin-right: 3px;
        font-size: 20px;
        max-width: 740px;
    }

    .theme-default-content:not(.custom) > h2:before {
        content: '';
        border-bottom: 2px solid #ef7060;
        width: 100%;
        display: block;
        height: 10px;
        position: absolute;
        margin-top: 32px;
        max-width: 740px;
    }

    .theme-default-content:not(.custom) > h2:after {
        content: '';
        display: inline-block;
        vertical-align: bottom;
        border-bottom: 36px solid #efebe9;
        border-right: 20px solid transparent;
        position: relative;
        left: 32px;
        top: 1px;
    }
}

.theme-default-content code {
    color: #c7254e;
    background-color: #f9f2f4;
    font-size: 14px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: auto 3px;
}